body {
	//font-size: 2.4rem;
	line-height: 125%;
	background-color: $background-color;
	margin: 0;
	padding: 0;
	color: $font-color;
	text-align: left;
	font-family: $fontnormal;
}
img {
	border: none;
	height: auto;
}
label {
	cursor: pointer;
}
input,
textarea {
	outline: none;
}
textarea {
	resize: none;
}
IFRAME {
	margin: 0;
	border: none;
}
table {
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
form,
ul,
ol,
limit,
dl,
dt,
dd {
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	a {
		text-decoration: none !important;
	}
}
hr {
	margin: auto;
	width: 40%;
	border: 1px solid $border-color;
}

.upper {
	text-transform: $upper;
}
.nobullet {
	list-style: none;
}
.fett {
	font-family: $fontnormal;
	font-style: normal;
}
.smalltext {
	font-size: 1.2rem;
}
.clear {
	clear: both;
}
.flex {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.error-message {
	color: $error_color;
}
.form-error {
	border: $error_color;
}
#contentcontainer {
	padding: 5vw 3vw;
	.tblpic {
		width: 5vw !important;
		min-width: 100px;
	}
	.plantpic {
		width: 30vw !important;
	}
}
.viewtable {
	th,
	.autowidth {
		width: 1px;
		white-space: nowrap;
	}
}

.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: $border-color;
	border-radius: 0.3rem;
}
