/// Variables

///https://davidwalsh.name/write-media-queries-sass
///https://www.massiveart.com/blog/wie-du-mit-sass-schneller-designs-in-code-umwandelst

/// BREAKPOINTS
$breakpoints: (
  'xlarge': (min-width: 1399px), // xLarge devices (desktops, more than 1200px)
  'large': (max-width: 1399px), // Large devices (desktops, less than 1200px)
  'desctop': (max-width: 991px), // Medium devices (tablets, less than 992px)
  'medium': (max-width: 767px), // Small devices (landscape phones, less than 768px)
  'small': (max-width: 575px), // Extra small devices (portrait phones, less than 576px)
  'xsmall': (max-width: 319px), // Extra small devices (phones, less than 320px)
);


$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #25292c !default;

$white: #fff !default;
$black: #000000 !default;
$blue: #3490dc !default;
$indigo: #6574cd !default;
$purple: #9561e2 !default;
$pink: #f66D9b !default;
$red: #e3342f !default;
$yellow: #ffed4a !default;
$green: #38c172 !default;
$teal: #4dc0b5 !default;
$cyan: #6cb2eb !default;

$weiss: #ffffff !default;
$schwarz: #424242 !default;

$background-color: $weiss;

$base-color: $weiss;

$font-color: $schwarz;

$border-color: $schwarz;
$border-color2: $weiss;

$fullwidth: 100%;

$max-breakpoint: 1920;

$upper: uppercase;
$center: center;

// form inputfield
$input_radius: 1.5rem;
$input_bg: $weiss;
$input_border: 1px solid $schwarz;
$check_border: $schwarz;
$input_color: $schwarz;

$error_color: $schwarz;
$error_border: 1px solid $schwarz;

$fontnormal: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fonttitle: "Helvetica Neue", Helvetica, Arial, sans-serif;
