body {
  line-height: 125%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #424242;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

img {
  border: none;
  height: auto; }

label {
  cursor: pointer; }

input,
textarea {
  outline: none; }

textarea {
  resize: none; }

IFRAME {
  margin: 0;
  border: none; }

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
form,
ul,
ol,
limit,
dl,
dt,
dd {
  padding: 0;
  margin: 0; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important; }

hr {
  margin: auto;
  width: 40%;
  border: 1px solid #424242; }

.upper {
  text-transform: uppercase; }

.nobullet {
  list-style: none; }

.fett {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal; }

.smalltext {
  font-size: 1.2rem; }

.clear {
  clear: both; }

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.error-message {
  color: #424242; }

.form-error {
  border: #424242; }

#contentcontainer {
  padding: 5vw 3vw; }
  #contentcontainer .tblpic {
    width: 5vw !important;
    min-width: 100px; }
  #contentcontainer .plantpic {
    width: 30vw !important; }

.viewtable th,
.viewtable .autowidth {
  width: 1px;
  white-space: nowrap; }

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #424242;
  border-radius: 0.3rem; }
